[package]
name = "tanssi-utils"
description = "Generate test vectors for reward claim generation"
edition = "2021"
license = "GPL-3.0-only"
readme = "README.md"
version = "0.1.0"
[package.authors]
workspace = true
[package.repository]
workspace = true

[[bin]]
path = "src/main.rs"
name = "tanssi-utils"

[lints]
workspace = true

[dependencies]
alloy-core = { workspace = true, features = [ "std" ] }
clap = { workspace = true, features = [ "derive", "std" ] }
ethabi = { workspace = true }
hex = { workspace = true }
hex-literal = { workspace = true }
pallet-external-validators-rewards = { workspace = true, features = [ "std" ] }
parity-scale-codec = { workspace = true }
serde = { workspace = true, default-features = true }
serde_json = { workspace = true, default-features = true }
snowbridge-core = { workspace = true }
snowbridge-inbound-queue-primitives = { workspace = true }
snowbridge-merkle-tree = { workspace = true }
sp-core = { workspace = true }
sp-runtime = { workspace = true, features = [ "std" ] }
tanssi-runtime-common = { workspace = true, features = [ "std", "relay" ] }
xcm = { workspace = true }
xcm-executor = { workspace = true }
