# MacOS thing
**/.DS_Store

# Rust directories
**/target

# Typescript directories
**/node_modules
**/.yarn

# Spec/Wasm build directory
/build/

# RustRover - related
**/.idea

# Temporary files
**/tmp
raw.json

# IDE files
**/.zed/
**/.vscode/
**/.idea/
.cursor