[workspace]
resolver = "2"

members = [
	"runtime/test",
	"node",
	"pallets/*",
]

[profile.release]
panic = "unwind"
opt-level = 3

[profile.production]
inherits = "release"
lto = true
codegen-units = 1
