[package]
name = "tp-bridge"
authors = { workspace = true }
description = "Tanssi bridge primitive"
edition = "2021"
license = "GPL-3.0-only"
version = "0.1.0"

[lints]
workspace = true

[dependencies]
dp-chain-state-snapshot = { workspace = true }
dp-container-chain-genesis-data = { workspace = true }
ethabi = { workspace = true }
frame-support = { workspace = true }
frame-system = { workspace = true }
impl-trait-for-tuples = { workspace = true }
log = { workspace = true }
macro_rules_attribute = { workspace = true }
pallet-external-validators = { workspace = true }
parity-scale-codec = { workspace = true }
scale-info = { workspace = true }
serde = { workspace = true }
snowbridge-beacon-primitives = { workspace = true }
snowbridge-core = { workspace = true }
snowbridge-inbound-queue-primitives = { workspace = true }
snowbridge-outbound-queue-primitives = { workspace = true }
snowbridge-pallet-outbound-queue = { workspace = true }
snowbridge-pallet-system = { workspace = true }
sp-core = { workspace = true }
sp-runtime = { workspace = true }
sp-std = { workspace = true }
xcm = { workspace = true }
xcm-executor = { workspace = true }

# Cumulus
cumulus-primitives-core = { workspace = true }

[dev-dependencies]
hex-literal = { workspace = true }

[features]
default = [ "std" ]
std = [
	"cumulus-primitives-core/std",
	"dp-chain-state-snapshot/std",
	"dp-container-chain-genesis-data/std",
	"ethabi/std",
	"frame-support/std",
	"frame-system/std",
	"log/std",
	"pallet-external-validators/std",
	"parity-scale-codec/std",
	"scale-info/std",
	"serde/std",
	"snowbridge-beacon-primitives/std",
	"snowbridge-core/std",
	"snowbridge-inbound-queue-primitives/std",
	"snowbridge-outbound-queue-primitives/std",
	"snowbridge-pallet-outbound-queue/std",
	"snowbridge-pallet-system/std",
	"sp-core/std",
	"sp-runtime/std",
	"sp-std/std",
	"xcm-executor/std",
	"xcm/std",
]
runtime-benchmarks = [
	"cumulus-primitives-core/runtime-benchmarks",
	"frame-support/runtime-benchmarks",
	"frame-system/runtime-benchmarks",
	"pallet-external-validators/runtime-benchmarks",
	"snowbridge-core/runtime-benchmarks",
	"snowbridge-inbound-queue-primitives/runtime-benchmarks",
	"snowbridge-pallet-outbound-queue/runtime-benchmarks",
	"snowbridge-pallet-system/runtime-benchmarks",
	"sp-runtime/runtime-benchmarks",
	"xcm-executor/runtime-benchmarks",
	"xcm/runtime-benchmarks",
]
