[package]
name = "pallet-xcm-core-buyer-runtime-api"
authors = { workspace = true }
description = "Runtime api for xcm-core-buyer runtime api"
edition = "2021"
license = "GPL-3.0-only"
version = "0.1.0"

[package.metadata.docs.rs]
targets = [ "x86_64-unknown-linux-gnu" ]

[lints]
workspace = true

[dependencies]
frame-support = { workspace = true }
pallet-xcm-core-buyer = { workspace = true }
parity-scale-codec = { workspace = true }
scale-info = { workspace = true }
serde = { workspace = true, optional = true, features = [ "derive" ] }
sp-api = { workspace = true }
sp-consensus-slots = { workspace = true }
sp-runtime = { workspace = true }
sp-std = { workspace = true }
thiserror = { workspace = true, optional = true }
tp-xcm-core-buyer = { workspace = true }

[features]
default = [ "std" ]
std = [
	"frame-support/std",
	"pallet-xcm-core-buyer/std",
	"parity-scale-codec/std",
	"scale-info/std",
	"serde",
	"serde?/std",
	"sp-api/std",
	"sp-consensus-slots/std",
	"sp-runtime/std",
	"sp-std/std",
	"thiserror",
	"tp-xcm-core-buyer/std",
]
