[package]
name = "tp-author-noting-inherent"
authors = { workspace = true }
description = "primitives related to author-noting-inherent"
edition = "2021"
license = "GPL-3.0-only"
version = "0.1.0"
[dependencies]
async-trait = { workspace = true, optional = true }
hex-literal = { workspace = true }
log = { workspace = true }
parity-scale-codec = { workspace = true, features = [ "derive", "max-encoded-len" ] }
scale-info = { workspace = true }

test-relay-sproof-builder = { workspace = true, optional = true }
tp-core = { workspace = true, optional = true }

# Substrate
frame-support = { workspace = true, optional = true }
sc-client-api = { workspace = true, optional = true }
sp-api = { workspace = true, optional = true }
sp-consensus-aura = { workspace = true, optional = true }
sp-core = { workspace = true }
sp-inherents = { workspace = true }
sp-io = { workspace = true }
sp-runtime = { workspace = true, optional = true }
sp-state-machine = { workspace = true, optional = true }
sp-std = { workspace = true }
sp-storage = { workspace = true, optional = true }
sp-trie = { workspace = true }

# Cumulus
cumulus-pallet-parachain-system = { workspace = true }
cumulus-primitives-core = { workspace = true }
cumulus-primitives-parachain-inherent = { workspace = true }
cumulus-relay-chain-interface = { workspace = true, optional = true }
polkadot-primitives = { workspace = true, optional = true }

[dev-dependencies]
futures = { workspace = true }

[features]
default = [ "std" ]
std = [ "async-trait", "cumulus-pallet-parachain-system/std", "cumulus-primitives-core/std", "cumulus-relay-chain-interface", "cumulus-relay-chain-interface", "frame-support", "parity-scale-codec/std", "polkadot-primitives", "sc-client-api", "scale-info/std", "scale-info/std", "sp-api", "sp-consensus-aura", "sp-consensus-aura/std", "sp-core/std", "sp-inherents/std", "sp-io/std", "sp-runtime/std", "sp-state-machine/std", "sp-std/std", "sp-storage", "sp-trie/std", "test-relay-sproof-builder/std", "tp-core/std" ]
