[package]
name = "tp-consensus"
authors = []
description = "Primitives related to Tanssi consensus engine"
edition = "2021"
version = "0.1.0"

[package.metadata.docs.rs]
targets = [ "x86_64-unknown-linux-gnu" ]
[dependencies]
cumulus-primitives-core = { workspace = true }
frame-support = { workspace = true }
frame-system = { workspace = true }
parity-scale-codec = { workspace = true }
scale-info = { workspace = true }

sp-consensus-aura = { workspace = true }
sp-runtime = { workspace = true }

sp-api = { workspace = true }
sp-std = { workspace = true }

# Nimbus
nimbus-primitives = { workspace = true }

[dev-dependencies]
sp-core = { workspace = true }
sp-io = { workspace = true }

[features]
default = [ "std" ]
std = [
	"cumulus-primitives-core/std",
	"frame-support/std",
	"frame-system/std",
	"nimbus-primitives/std",
	"parity-scale-codec/std",
	"sp-api/std",
	"sp-consensus-aura/std",
	"sp-runtime/std",
	"sp-std/std",
	"scale-info/std",
	"sp-core/std",
	"sp-io/std"
]
