name: Cancel
on: [push]
jobs:
  cancel:
    name: "Cancel Previous Build"
    if: github.ref != 'refs/heads/master'
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - name: Cancel release job
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          workflow_id: ".github/workflows/release.yml"
          all_but_latest: true
          access_token: ${{ github.token }}

      - name: Cancel coverage job
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          workflow_id: ".github/workflows/coverage.yml"
          all_but_latest: true
          access_token: ${{ github.token }}