name: Merge on ready
on:
  pull_request:
    types: [labeled, unlabeled, opened, edited, synchronize]
jobs:
    enforce-ready-to-merge-label:
        runs-on: ubuntu-latest
        steps:
          - uses: yogevbd/enforce-label-action@2.2.2
            with:
              REQUIRED_LABELS_ANY: "A8-mergeoncegreen"
              REQUIRED_LABELS_ALL: ""
              BANNED_LABELS: ""
    
    build:
        runs-on: self-hosted
        env:
          TMP_TARGET: "/tmp/target"
          CARGO_TARGET_DIR: "target"
          RUSTC_WRAPPER: "sccache"
          CARGO_INCREMENTAL: "0"
          SCCACHE_CACHE_SIZE: "100GB"
          SCCACHE_GHA_ENABLED: "true"
        needs: ["enforce-ready-to-merge-label"]
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  ref: ${{ needs.set-tags.outputs.git_ref }}
            - name: Cargo build
              uses: ./.github/workflow-templates/cargo-build
              with:
                features: "fast-runtime"
            - name: Upload runtimes
              uses: actions/upload-artifact@v4
              with:
                  name: runtimes
                  path: runtimes
            - name: Upload binary
              uses: actions/upload-artifact@v4
              with:
                  name: binaries
                  path: binaries
    zombienet-tests-ready-to-merge:
        needs: ["enforce-ready-to-merge-label", "build"]
        runs-on: self-hosted   
        strategy:
            fail-fast: false
            matrix:
                test_name:
                    - zombie_tanssi_warp_sync
                    - zombie_data_preservers
                    - zombie_tanssi_parathreads
                    - zombie_tanssi_rotation
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  ref: ${{ github.head_ref }}
            - name: "Download binaries"
              uses: actions/download-artifact@v4
              with:
                  name: binaries
                  path: target/release
            - name: "Make binaries executable"
              shell: bash
              run: |
                  chmod uog+x target/release/tanssi-node
                  chmod uog+x target/release/tanssi-relay
                  chmod uog+x target/release/tanssi-relay-prepare-worker
                  chmod uog+x target/release/tanssi-relay-execute-worker
                  chmod uog+x target/release/container-chain-simple-node
                  chmod uog+x target/release/container-chain-frontier-node
            - name: Run Zombienet Test ${{ matrix.test_name }}
              uses: ./.github/workflow-templates/zombienet-tests
              with:
                  test_name: ${{ matrix.test_name }}
    e2e-bridge-test:
        needs: ["enforce-ready-to-merge-label", "build"]
        runs-on: self-hosted
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  ref: ${{ github.head_ref }}
            - name: "Download binaries"
              uses: actions/download-artifact@v4
              with:
                  name: binaries
                  path: target/release
            - name: "Make binaries executable"
              shell: bash
              run: |
                  chmod uog+x target/release/tanssi-node
                  chmod uog+x target/release/tanssi-relay
                  chmod uog+x target/release/tanssi-relay-prepare-worker
                  chmod uog+x target/release/tanssi-relay-execute-worker
                  chmod uog+x target/release/container-chain-simple-node
                  chmod uog+x target/release/container-chain-frontier-node

            - name: Run Zombienet Test ${{ matrix.test_name }}
              id: e2e-test
              uses: ./.github/workflow-templates/bridge-e2e
    benchmark-tests:
        needs: ["enforce-ready-to-merge-label"]
        runs-on: self-hosted
        strategy:
            fail-fast: false
            matrix:
                binary: [tanssi-relay, tanssi-node, container-chain-simple-node, container-chain-frontier-node]
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  ref: ${{ github.head_ref }}
            - name: Cargo build
              uses: ./.github/workflow-templates/cargo-build
              with:
                features: "fast-runtime,runtime-benchmarks"
            - name: "Benchmark tests dancelight"
              shell: bash
              run: |
                BINARY=./target/release/${{ matrix.binary }} TEMPLATE_PATH=./benchmarking/frame-weight-runtime-template.hbs tools/benchmarking.sh "*" "*" --check