name: Merge on ready
on:
  pull_request:
    types: [labeled, unlabeled, opened, synchronize]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
    enforce-ready-to-merge-label:
        runs-on: ubuntu-latest
        steps:
          - uses: yogevbd/enforce-label-action@2.2.2
            with:
              REQUIRED_LABELS_ANY: "A8-mergeoncegreen"
              REQUIRED_LABELS_ALL: ""
              BANNED_LABELS: ""
    
    build:
        runs-on: self-hosted
        env:
          RUSTC_WRAPPER: "sccache"
          CARGO_INCREMENTAL: "0"
          SCCACHE_CACHE_SIZE: "100GB"
          SCCACHE_GHA_ENABLED: "true"
        needs: ["enforce-ready-to-merge-label"]
        steps:
            - name: Checkout
              uses: actions/checkout@v6
              with:
                ref: ${{ github.event.pull_request.head.sha }}
            - name: Cargo build
              uses: ./.github/workflow-templates/cargo-build
              with:
                features: "fast-runtime,metadata-hash"
            - name: Upload runtimes
              uses: actions/upload-artifact@v6
              with:
                  name: runtimes
                  path: runtimes
            - name: Upload binary
              uses: actions/upload-artifact@v6
              with:
                  name: binaries
                  path: binaries
    zombienet-tests-ready-to-merge:
        needs: ["enforce-ready-to-merge-label", "build"]
        runs-on: self-hosted   
        strategy:
            fail-fast: false
            matrix:
                test_name:
                    - zombie_data_preservers_remote_dancebox
                    - zombie_data_preservers_embedded_dancebox
                    - zombie_data_preservers_embedded_dancelight
                    - zombie_tanssi_rotation
        steps:
            - name: Checkout
              uses: actions/checkout@v6
            - name: "Download binaries"
              uses: actions/download-artifact@v7
              with:
                  name: binaries
                  path: target/release

            - name: Make binaries executable
              uses: ./.github/workflow-templates/make-binaries-executable

            - name: Run Zombienet Test ${{ matrix.test_name }}
              uses: ./.github/workflow-templates/zombienet-tests
              with:
                  test_name: ${{ matrix.test_name }}

    chopsticks-upgrade-test:
        runs-on:
            labels: ubuntu-latest
        needs: ["enforce-ready-to-merge-label", "build"]
        strategy:
            fail-fast: false
            matrix:
                chains:
                    - chain: stagenet_dancebox
                      runtime: dancebox
                    - chain: flashbox
                      runtime: flashbox
                    - chain: frontier_template
                      runtime: container-chain-template-frontier
                    - chain: stagelight
                      runtime: dancelight
                    - chain: dancelight
                      runtime: dancelight
                    - chain: moonlight
                      runtime: starlight
                    - chain: tanssi
                      runtime: starlight
        env:
            GH_WORKFLOW_MATRIX_CHAIN: ${{ matrix.chains.chain }}
            DEBUG_COLORS: 1
        steps:
            - name: Checkout
              uses: actions/checkout@v6
              with:
                ref: ${{ github.event.pull_request.head.sha }}
            - uses: pnpm/action-setup@v4.2.0
              with:
                  version: 9
            - uses: actions/setup-node@v6
              with:
                  node-version: 22.x
                  cache: "pnpm"
            - name: Create local folders
              run: |
                  mkdir -p target/release/wbuild/${{ matrix.chains.runtime }}-runtime/
                  mkdir -p test/tmp
            - name: "Download runtime"
              uses: actions/download-artifact@v7
              with:
                  name: runtimes
                  path: target/release/wbuild/${{ matrix.chains.runtime }}-runtime/
            # Binaries needed for testPalletVersions test
            - name: "Download binaries"
              uses: actions/download-artifact@v7
              with:
                  name: binaries
                  path: target/release
            - name: Make binaries executable
              uses: ./.github/workflow-templates/make-binaries-executable
            - name: "Install and run upgrade test"
              run: |
                  cd test
                  pnpm install
                  pnpm moonwall test chopsticks_${{ matrix.chains.chain }}_upgrade

    zombienet-test-upgrade:
        runs-on: ubuntu-latest
        needs: ["enforce-ready-to-merge-label", "build"]
        strategy:
            fail-fast: false
            matrix:
                chain: ["dancebox"]
        steps:
            - name: Checkout
              uses: actions/checkout@v6
              with:
                  ref: ${{ github.event.pull_request.head.sha }}
            - name: Pnpm
              uses: pnpm/action-setup@v4.2.0
              with:
                  version: 9
            - name: Setup node
              uses: actions/setup-node@v6
              with:
                  node-version: 22.x
                  cache: "pnpm"
            - name: Create local folders
              run: |
                  mkdir -p target/release/wbuild/${{ matrix.chain }}-runtime/
                  mkdir -p test/tmp
            - name: "Download binaries"
              uses: actions/download-artifact@v7
              with:
                  name: binaries
                  path: target/release
            - name: Make binaries executable
              uses: ./.github/workflow-templates/make-binaries-executable
            - name: "Download branch built runtime"
              uses: actions/download-artifact@v7
              with:
                  name: runtimes
                  path: target/release/wbuild/${{ matrix.chain }}-runtime/
            - name: "Install and run upgrade test"
              run: |
                  cd test
                  pnpm install
                  pnpm moonwall test zombie_${{ matrix.chain }}_upgrade
            - name: Zip and Upload Node Logs on Failure
              if: failure()
              run: |
                  TIMESTAMP=$(date +%Y%m%d%H%M%S)
                  export NODE_LOGS_ZIP="node_logs_$TIMESTAMP.zip"
                  MOST_RECENT_ZOMBIE_DIR=$(ls -td /tmp/zombie-* | head -n 1)
                  find $MOST_RECENT_ZOMBIE_DIR -maxdepth 1 -type f -name '*.log' -exec zip -r $NODE_LOGS_ZIP {} \;
                  echo "NODE_LOGS_ZIP=${NODE_LOGS_ZIP}" >> $GITHUB_ENV
            - uses: actions/upload-artifact@v6
              if: failure()
              with:
                  name: failed-node-logs
                  path: ${{ env.NODE_LOGS_ZIP }}

    zombienet-test-upgrade-containers:
        runs-on: self-hosted
        needs: ["enforce-ready-to-merge-label", "build"]
        strategy:
            fail-fast: false
            matrix:
                chains:
                    - chain: frontier_template
                      runtime: container-chain-template-frontier
                    - chain: simple_template
                      runtime: container-chain-template-simple
        steps:
            - name: Checkout
              uses: actions/checkout@v6
              with:
                  ref: ${{ github.event.pull_request.head.sha }}
            - name: Pnpm
              uses: pnpm/action-setup@v4.2.0
              with:
                  version: 9
            - name: Setup node
              uses: actions/setup-node@v6
              with:
                  node-version: 22.x
                  cache: "pnpm"
            - name: Create local folders
              run: |
                  mkdir -p target/release/wbuild/${{ matrix.chains.runtime }}-runtime/
                  mkdir -p test/tmp
            - name: "Download binaries"
              uses: actions/download-artifact@v7
              with:
                  name: binaries
                  path: target/release
            - name: Make binaries executable
              uses: ./.github/workflow-templates/make-binaries-executable
            - name: "Download runtime"
              uses: actions/download-artifact@v7
              with:
                  name: runtimes
                  path: target/release/wbuild/${{ matrix.chains.runtime }}-runtime/
            - name: "Install and run upgrade test"
              run: |
                  cd test
                  pnpm install
                  pnpm moonwall test zombie_${{ matrix.chains.chain }}_upgrade

    zombienet-test-upgrade-starlight:
        runs-on: self-hosted
        needs: ["enforce-ready-to-merge-label", "build"]
        strategy:
            fail-fast: false
            matrix:
                chains:
                    - chain: dancelight
                      runtime: dancelight
                    - chain: starlight
                      runtime: starlight
        steps:
            - name: Checkout
              uses: actions/checkout@v6
              with:
                  ref: ${{ github.event.pull_request.head.sha }}
            - name: Pnpm
              uses: pnpm/action-setup@v4.2.0
              with:
                  version: 9
            - name: Setup node
              uses: actions/setup-node@v6
              with:
                  node-version: 22.x
                  cache: "pnpm"
            - name: Create local folders
              run: |
                  mkdir -p target/release/wbuild/${{ matrix.chains.runtime }}-runtime/
                  mkdir -p test/tmp
            - name: "Download binaries"
              uses: actions/download-artifact@v7
              with:
                  name: binaries
                  path: target/release
            - name: Make binaries executable
              uses: ./.github/workflow-templates/make-binaries-executable
            - name: "Download runtime"
              uses: actions/download-artifact@v7
              with:
                  name: runtimes
                  path: target/release/wbuild/${{ matrix.chains.runtime }}-runtime/
            - name: "Install and run upgrade test"
              run: |
                  cd test
                  pnpm install
                  pnpm moonwall test zombie_${{ matrix.chains.chain }}_upgrade

    e2e-bridge-test:
        needs: ["enforce-ready-to-merge-label", "build"]
        runs-on: self-hosted
        steps:
            - name: Checkout
              uses: actions/checkout@v6
            - name: "Download binaries"
              uses: actions/download-artifact@v7
              with:
                  name: binaries
                  path: target/release

            - name: Make binaries executable
              uses: ./.github/workflow-templates/make-binaries-executable

            - name: Cache Foundry
              uses: actions/cache@v5
              with:
                path: |
                  ~/.foundry
                  ~/.cache/foundry
                key: symbiotic-${{ runner.os }}-${{ hashFiles('**/scripts/bridge/set-env.sh') }}

            - name: Cache Symbiotic Contracts
              uses: actions/cache@v5
              id: cache-symbiotic
              with:
                path: |
                  test/tmp/bridge/tanssi-symbiotic
                  test/tmp/bridge/tanssi-symbiotic/out
                  test/tmp/bridge/tanssi-symbiotic/cache
                key: symbiotic-${{ runner.os }}-${{ hashFiles('**/scripts/bridge/set-env.sh') }}

            - name: Cache Snowbridge Relayer
              uses: actions/cache@v5
              id: cache-relayer
              with:
                path: |
                  test/tmp/bridge/relayer
                  test/tmp/bridge/relayer/snowbridge/contracts/out
                  test/tmp/bridge/relayer/snowbridge/contracts/cache
                key: relayer-${{ runner.os }}-${{ hashFiles('**/scripts/bridge/set-env.sh') }}

            - name: Cache Ethereum Node Binaries
              uses: actions/cache@v5
              id: cache-ethereum-binaries
              with:
                path: |
                  test/tmp/bridge/output/bin
                key: ethereum-bins-${{ runner.os }}-${{ hashFiles('**/scripts/bridge/set-env.sh') }}

            - name: Run Zombienet Test
              id: e2e-test
              uses: ./.github/workflow-templates/bridge-e2e
    build-benchmark:
      needs: ["enforce-ready-to-merge-label"]
      runs-on: self-hosted
      steps:
        - name: Checkout
          uses: actions/checkout@v6
        - name: Cargo build
          uses: ./.github/workflow-templates/cargo-build
          with:
            features: "fast-runtime,runtime-benchmarks,metadata-hash"
        - name: Upload benchmark runtimes
          uses: actions/upload-artifact@v6
          with:
            name: runtimes-benchmark
            path: runtimes
        - name: Upload binary
          uses: actions/upload-artifact@v6
          with:
            name: binaries-benchmark
            path: binaries
    benchmark-tests:
        needs: ["enforce-ready-to-merge-label", "build-benchmark"]
        runs-on: self-hosted
        strategy:
            fail-fast: false
            matrix:
                chains:
                    - binary: tanssi-relay
                      runtime: dancelight
                    - binary: tanssi-relay
                      runtime: starlight
                    - binary: tanssi-node
                      runtime: flashbox
                    - binary: tanssi-node
                      runtime: dancebox
                    - binary: container-chain-simple-node
                      runtime: container-chain-template-simple
                    - binary: container-chain-frontier-node
                      runtime: container-chain-template-frontier
        steps:
            - name: Checkout
              uses: actions/checkout@v6
            - name: "Download benchmark binaries"
              uses: actions/download-artifact@v7
              with:
                name: runtimes-benchmark
                path: target/release

            - name: Install frame-omni-bencher
              uses: ./.github/workflow-templates/install-frame-omni-bencher

            - name: "Benchmark test ${{ matrix.binary }}"
              shell: bash
              run: |
                ls -la target/release
                RUNTIME_NAME=${{ matrix.chains.runtime }} \
                  RUNTIME=target/release/$(echo $RUNTIME_NAME | tr '-' '_')_runtime.compact.compressed.wasm \
                  TEMPLATE_PATH=./benchmarking/frame-weight-runtime-template.hbs \
                  tools/benchmarking.sh "*" "*" --check

    # Check that the smoke test suite works.
    # This is not to test that our networks are good, but that the test suite itself is working.
    # So it only runs the most trivial test for one network.
    # No need to test more networks as that only increases the changes of a test failure because of RPC timeout.
    # This usually breaks when updating any javascript dependency.
    smoke-tests-test:
        needs: ["enforce-ready-to-merge-label"]
        runs-on: self-hosted
        strategy:
            fail-fast: false
            matrix:
                test_name:
                    - stagelight_dancelight_smoke S01
        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Pnpm
              uses: pnpm/action-setup@v4.2.0
              with:
                version: 9

            - name: Setup Node
              uses: actions/setup-node@v6
              with:
                node-version: 22.x
                cache: "pnpm"

            - name: Run Test ${{ matrix.test_name }}
              shell: bash
              run: |
                pnpm install

                cd test
                pnpm moonwall test ${{ matrix.test_name }}
