name: CI

on: ["pull_request"]

jobs:

  ####### Building and Testing binaries #######

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Rust toolchain
        run: rustup show

      - name: Formatter
        run: cargo fmt --all --check

      - name: Build
        run: cargo build --release --all

      - name: Test
        run: cargo test --release --all
