# -----------------------------------------------------------------------------
# GitHub Workflow: Upgrade TypeScript API
#
# Description:
# This workflow handles the upgrade process of the PolkadotJs ApiAugment package for Tanssi.
# It is triggered manually via the `workflow_dispatch` event, where the user must provide
# the runtime specification version they wish to generate interfaces for.
#
# Note: 
# - This will not publish the generated interfaces, that is instead done by other workflow:
#        "publish-typescript-api.yml"
#
# Workflow Steps:
# 1. Checkout the entire repository.
# 2. Retrieve the Tanssi binary associated with the specified runtime spec version.
# 3. Set up the required Node.js and pnpm versions.
# 4. Install the latest PolkadotJs packages in the `typescript-api` directory.
# 5. Regenerate the TypeScript API with the new runtime metadata.
# 6. Create a new pull request for the upgraded TypeScript API.
#
# Note:
# - The new pull request is created on the branch: master and will be in draft status.
# - Reviewers "girazoki" and "tmpolaczyk" are automatically assigned to the pull request.
# -----------------------------------------------------------------------------


name: Upgrade typescript API
on:
  workflow_dispatch:
    inputs:
      spec_version:
        description: runtime spec version (ex. 1601)
        required: true

jobs:
  upgrading-typescript-api:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4 
        with:
          fetch-depth: 0
      - name: Retrieve tanssi binary
        run: |
          COMMIT=`git rev-list -n 1 'runtime-${{ github.event.inputs.spec_version }}'`
          echo "FINISHED"
          SHA=sha-${COMMIT::8}
          DOCKER_TAG="moondancelabs/tanssi:$SHA"
          
          # Clear the dummy container if it wasn't properly cleaned up
          docker rm -f dummy 2> /dev/null
          docker create -ti --name dummy $DOCKER_TAG bash
          mkdir -p target/release
          docker cp dummy:/tanssi/tanssi-node target/release/tanssi-node
          docker rm -f dummy
          ls target/release/
      - name: Pnpm
        uses: pnpm/action-setup@v3.0.0
        with:
          version: 8
      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - name: Regenerate typescript api with new runtime metadata
        run: |
          cd typescript-api
          pnpm install
          pnpm create-local-interfaces
          pnpm version --no-git-tag-version 0.${{ github.event.inputs.spec_version }}.0
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          base: master
          branch: "typescript-api-${{ github.event.inputs.spec_version }}"
          commit-message: typescript API v0.${{ github.event.inputs.spec_version }}.0"
          draft: true
          title: "Upgrade typescript API for runtime  ${{ github.event.inputs.spec_version }}"
          reviewers: "girazoki,tmpolaczyk"
          labels: "B0-silent,D2-notlive"